/**
 * Write CSS code in this file to style your JavaFX user interface
 *
 * Note: You must link this file to your scene object by adding the following line of code to the
 * JavaFX start() method:
 *   scene.getStylesheets().add("main.css");
 */

 .layout {
   -fx-font-family: Arial, sans-serif;
   -fx-font-weight: bold;
   -fx-font-size: 12px;
 }

 .board {
   -fx-background-color: #000000;
   -fx-alignment: center;
   -fx-max-width: 450px;
   -fx-max-height: 450px;
   -fx-alignment: center;
 }

 .controllerLayout {
   -fx-font-weight: bold;
   -fx-font-size: 12px;
 }

 .switchLabel {
    -fx-background-color: #fff2cc;
    -fx-font-family: Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-pref-width: 150px;
    -fx-pref-height: 20px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-padding: 2px;
 }

 .switchPuzzlePreviousBut {
   -fx-font-family: Arial, sans-serif;
   -fx-font-weight: bold;
   -fx-pref-width: 150px;
   -fx-pref-height: 20px;
   -fx-border-radius: 4px;
   -fx-background-radius: 4px;
   -fx-font-size: 20px;
   -fx-alignment: center;
   -fx-padding: 2px;
 }

 .switchPuzzleNextBut {
   -fx-font-family: Arial, sans-serif;
   -fx-font-weight: bold;
   -fx-pref-width: 150px;
   -fx-pref-height: 20px;
   -fx-border-radius: 4px;
   -fx-background-radius: 4px;
   -fx-font-size: 20px;
   -fx-alignment: center;
   -fx-padding: 2px;
 }

.randomPuzzleBut {
   -fx-font-family: Arial, sans-serif;
   -fx-font-weight: bold;
   -fx-pref-width: 225px;
   -fx-pref-height: 20px;
   -fx-border-radius: 4px;
   -fx-background-radius: 4px;
   -fx-font-size: 15px;
   -fx-alignment: center;
   -fx-padding: 10px;
}

.PuzzleNumRow {
   -fx-background-color: #0ace5e;
}

.totalPuzzles {
   -fx-font-weight: bold;
   -fx-pref-width: 150px;
   -fx-pref-height: 10px;
   -fx-border-radius: 4px;
   -fx-background-radius: 4px;
   -fx-font-size: 15px;
   -fx-padding: 10px;
   -fx-background-color: #0ace5e;
}

.PuzzleNum {
   -fx-font-weight: bold;
   -fx-pref-width: 75px;
   -fx-pref-height: 10px;
   -fx-border-radius: 4px;
   -fx-background-radius: 4px;
   -fx-font-size: 20px;
   -fx-padding: 10px;
   -fx-text-fill: #bf9000;
   -fx-background-color: #0ace5e;
}

.instructions {
   -fx-font-family: Arial, sans-serif;
   -fx-font-weight: bold;
   -fx-pref-width: 450px;
   -fx-pref-height: 5px;
   -fx-border-radius: 4px;
   -fx-background-radius: 4px;
   -fx-font-size: 12px;
   -fx-padding: 10px;
   -fx-background-color: #0ace5e;
}

 .tile {
   -fx-pref-width: 55px;
   -fx-pref-height: 55px;
   -fx-font-size: 34px;
   -fx-alignment: center;
   -fx-text-fill: #ffffff;
   -fx-background-color: #FAFFFA;
 }

 .tile-0 {
   -fx-background-color: #BCBFBC;
   -fx-text-fill: #000000;
 }

 .tile-1 {
   -fx-background-color: #BCBFBC;
   -fx-text-fill: #000000;
 }

 .tile-2 {
   -fx-background-color: #BCBFBC;
   -fx-text-fill: #000000;
 }

 .tile-3 {
   -fx-background-color: #BCBFBC;
   -fx-text-fill: #000000;
 }

 .tile-4 {
    -fx-background-color: #BCBFBC;
    -fx-text-fill: #000000;
  }

.tile-5 {
    -fx-background-color: #000000;
}

.tile-7 {
    -fx-background-color: #169aa6;
    -fx-text-fill: #000000;
}

.tile-8 {
    -fx-background-color: #169aa6;
    -fx-text-fill: #000000;
}

.tile-9 {
    -fx-background-color: #169aa6;
    -fx-text-fill: #000000;
}

.tile-10 {
    -fx-background-color: #169aa6;
    -fx-text-fill: #000000;
}

.tile-11 {
    -fx-background-color: #169aa6;
    -fx-text-fill: #000000;
}

.normalButton {
   -fx-pref-width: 55px;
   -fx-pref-height: 55px;
   -fx-background-color: #ffffff;
}

.litButton {
   -fx-pref-width: 55px;
   -fx-pref-height: 55px;
   -fx-background-color: #fffb84;
}

.lamp {
    -fx-pref-width: 55px;
    -fx-pref-height: 55px;
    -fx-background-color: #fffb84;
    -fx-alignment: center;
    -fx-font-size: 5px;
    -fx-text-fill: #000000;
    -fx-background-image: url('light-bulb.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30 30;
    -fx-background-position: center center;

 }

 .solvdeMes {
    -fx-font-family: Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-pref-width: 450px;
    -fx-pref-height: 10px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-font-size: 15px;
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-alignment: center;
 }

